
.main-card
{
    border-radius: 25px;
    color: white;
    background: linear-gradient(to right,rgba(62, 106, 207, .9),rgba(105, 68, 155, .9));
}

.total_no_1
{
    font-size: 5em;
}

.c-header
{
    background: linear-gradient(to bottom,rgba(110, 74, 210, .9),rgba(171, 81, 203, .9));
    color:white;
}

#recent-activity
{
    height: 80vh;
}