*{
  font-family: 'roboto-regular';
}

h1,h2,h3,h4,h5,h6
{
  font-family: 'roboto-black';
}

body {
  margin: 0;
 
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}




.logo
{
  font-family: 'roboto-black';
  font-size: 40px;
}

.custom-bg-light
{
  background-color: white !important;
}

.navbar
{
  box-shadow: 1px 1px 1px 1px rgb(235, 235, 235);
}